.svn*
svn-*
.metadata/*
.project
.DS_Store
.buildpath
.settings
.csvignore
config.php
_config.php
local.php
_settings.php
dbconfig.php
htdocs/uploads/*
htdocs/assets/*
htdocs/html/*
oauth.json
*.sql
!readme
